<?xml version="1.0" ?>
<model>
    <name>hill</name>
    <version>1.0</version>
    <sdf version="1.6">hill.sdf</sdf>
    <author>
        <name>YourName</name>
        <email>YourEmail</email>
    </author>
    <description>A plane with a reference texture on it depicting an asymmetrical circle pattern.</description>
</model>
