<launch>
   <group ns="uav0">
        <node pkg="task_allocation" type="uav_bid.py" name="bid" output="screen"/>
        <param name="uav_id" type="int" value="0"/>
    </group>
   <group ns="uav1">
        <node pkg="task_allocation" type="uav_bid.py" name="bid" output="screen"/>
        <param name="uav_id" type="int" value="1"/>
    </group>
</launch>


